In [1]:
import pandas as pd

In [2]:
data_train = pd.read_csv("data/train.csv")
data_train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [3]:
data_test = pd.read_csv("data/test.csv")
data_test.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [4]:
data_sample_submission = pd.read_csv("data/sample_submission.csv")
data_sample_submission.head()

  PassengerId  Transported
0     0013_01        False
1     0018_01        False
2     0019_01        False
3     0021_01        False
4     0023_01        False

## 1. pre processing machine learning

In [5]:
data_train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [6]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

### 1.1 Drop Null Value

In [7]:
data_train.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [8]:
data_train.dropna(inplace=True)

In [9]:
data_train.count()

PassengerId     6606
HomePlanet      6606
CryoSleep       6606
Cabin           6606
Destination     6606
Age             6606
VIP             6606
RoomService     6606
FoodCourt       6606
ShoppingMall    6606
Spa             6606
VRDeck          6606
Name            6606
Transported     6606
dtype: int64

### 1.2 Encode Value

In [10]:
for col in data_train.columns:
    print(col)
    print(data_train[col].unique())

PassengerId
['0001_01' '0002_01' '0003_01' ... '9279_01' '9280_01' '9280_02']
HomePlanet
['Europa' 'Earth' 'Mars']
CryoSleep
[False True]
Cabin
['B/0/P' 'F/0/S' 'A/0/S' ... 'G/1499/S' 'G/1500/S' 'E/608/S']
Destination
['TRAPPIST-1e' 'PSO J318.5-22' '55 Cancri e']
Age
[39. 24. 58. 33. 16. 44. 26. 35. 14. 45. 32. 48. 28.  0.  1. 49. 10.  7.
 15. 34. 43. 47.  2. 23. 20. 17. 55.  4. 21. 56. 25. 38. 27. 36. 22. 62.
 18. 19. 37. 42. 13. 40.  3. 54.  9.  6. 29. 64. 67. 61. 50. 31.  8. 51.
 11. 41. 30. 46. 60. 63. 57.  5. 79. 68. 59. 74. 12. 65. 53. 71. 52. 75.
 76. 78. 70. 73. 66. 69. 72. 77.]
VIP
[False True]
RoomService
[   0.  109.   43. ... 1003. 8586.  745.]
FoodCourt
[   0.    9. 3576. ... 1146. 6819. 4688.]
ShoppingMall
[0.0000e+00 2.5000e+01 3.7100e+02 1.5100e+02 3.0000e+00 1.7000e+01
 5.8900e+02 1.1230e+03 6.5000e+01 1.2000e+01 1.0000e+00 1.3600e+02
 8.1000e+01 1.4110e+03 4.5000e+01 1.8000e+02 1.9380e+03 3.3740e+03
 1.4800e+02 1.9700e+02 4.4600e+02 5.0000e+00 7.3800e+02 1.0180e+03
 1.2950e+03 3.1000e+01 6.7000e+02 9.5700e+02 5.2600e+02 8.7000e+01
 8.0400e+02 4.2900e+02 4.9000e+01 2.9600e+02 9.0000e+00 7.3000e+02
 2.1000e+02 1.0000e+01 4.8000e+01 1.6000e+01 1.6100e+02 6.7300e+02
 4.2600e+02 4.0100e+02 8.6700e+02 7.1900e+02 6.6000e+01 1.3700e+02
 3.0700e+02 1.1900e+02 1.8800e+02 3.0100e+02 2.2100e+02 6.6500e+02
 2.5600e+02 7.9600e+02 2.8700e+02 5.4100e+02 4.0800e+02 3.1300e+02
 5.9200e+02 1.2800e+02 2.0780e+03 2.9000e+01 3.2000e+01 8.8000e+01
 1.3240e+03 1.5000e+01 2.5900e+02 1.3590e+03 1.5700e+02 7.4000e+01
 2.5100e+02 2.1100e+02 6.3400e+02 1.4340e+03 2.0200e+02 2.9750e+03
 4.5300e+02 3.3000e+01 4.4470e+03 5.5800e+02 7.8600e+02 4.0000e+00
 7.0000e+00 6.0000e+00 5.9100e+02 8.8100e+02 3.5600e+02 5.5200e+02
 3.6000e+01 5.2000e+01 1.1160e+03 1.0100e+02 5.9520e+03 2.6000e+01
 2.2000e+01 8.4000e+02 1.0200e+02 7.9500e+02 7.4700e+02 1.8200e+02
 8.6300e+02 2.0000e+00 5.4400e+02 3.8000e+01 1.7490e+03 4.7000e+01
 1.1000e+01 4.1000e+01 7.5000e+02 1.7330e+03 3.8400e+02 3.1600e+02
 4.7900e+02 8.3800e+02 8.3100e+02 7.0400e+02 2.6600e+02 5.8000e+02
 3.3200e+02 4.0200e+02 6.1200e+02 3.1000e+02 2.1000e+01 5.2100e+02
 3.7000e+01 6.0100e+02 1.0920e+03 6.1600e+02 5.5100e+02 4.6000e+01
 8.2600e+02 9.0800e+02 1.8000e+01 5.0000e+01 8.2000e+01 1.4100e+02
 1.0870e+03 7.0800e+02 7.3600e+02 2.5200e+02 9.7000e+01 7.8300e+02
 1.9520e+03 2.2600e+02 6.8900e+02 7.2200e+02 3.2200e+02 4.8400e+02
 5.5000e+01 6.7900e+02 3.2500e+02 1.3990e+03 8.7000e+02 1.0000e+02
 7.0100e+02 5.1000e+01 7.1400e+02 3.4300e+02 2.6950e+03 7.1000e+01
 1.9000e+01 4.4400e+02 5.4000e+02 7.1600e+02 2.5520e+03 4.2100e+02
 9.3000e+01 9.8400e+02 1.6260e+03 2.3400e+02 8.7100e+02 5.5500e+02
 1.3830e+03 8.0000e+00 8.3400e+02 3.2300e+02 4.4800e+02 1.3000e+01
 4.9000e+02 3.5000e+01 9.8000e+01 8.8000e+02 7.1500e+02 1.2200e+02
 1.0600e+02 1.9730e+03 8.4000e+01 6.2000e+01 1.5260e+03 8.2800e+02
 2.7000e+01 6.0000e+01 6.4200e+02 2.9800e+02 9.9000e+01 2.6300e+02
 7.5600e+02 6.1240e+03 3.6300e+02 1.6320e+03 8.8400e+02 7.6000e+01
 1.0950e+03 7.2000e+01 9.2600e+02 2.7900e+02 6.0000e+02 6.5400e+02
 4.6400e+02 3.7000e+03 7.5200e+02 5.1300e+02 8.4300e+02 1.9500e+02
 9.0700e+02 1.2500e+03 1.0610e+03 3.3010e+03 4.3100e+02 8.9600e+02
 2.8900e+02 6.1900e+02 4.8200e+02 1.0840e+03 2.6800e+02 6.7500e+02
 4.8170e+03 1.0900e+02 2.9200e+02 2.3000e+01 3.4000e+02 2.6000e+02
 1.9300e+02 1.1280e+03 5.6100e+02 1.2600e+02 9.4600e+02 5.3700e+02
 6.9000e+02 3.7700e+02 2.8000e+02 2.1200e+02 3.3400e+02 5.2900e+02
 2.8000e+01 1.0130e+03 1.2430e+03 2.4300e+02 1.7210e+03 2.1160e+03
 2.2800e+02 3.9000e+01 2.1190e+03 4.2200e+02 7.4400e+02 9.1300e+02
 4.9700e+02 6.8000e+01 6.8300e+02 1.3600e+03 5.3300e+02 6.6100e+02
 4.3000e+01 1.4600e+02 3.7200e+02 1.4870e+03 7.9800e+02 9.6500e+02
 8.8500e+02 2.1800e+02 1.4700e+02 2.1300e+02 2.0800e+02 1.1550e+03
 2.0100e+02 6.8700e+02 5.1600e+02 1.2470e+03 8.9000e+01 6.4600e+02
 1.2460e+03 4.7300e+02 4.9900e+02 3.8700e+02 4.9600e+02 1.2400e+02
 8.0900e+02 2.6610e+03 4.5400e+02 2.5700e+02 8.6400e+02 6.5700e+02
 9.7400e+02 1.0810e+03 1.7890e+03 1.7600e+02 7.1800e+02 1.5800e+02
 3.9700e+02 3.4500e+02 3.4000e+01 2.8800e+02 1.0700e+02 1.5080e+03
 2.9500e+02 1.4760e+03 7.8700e+02 5.3000e+01 4.8990e+03 6.7700e+02
 9.4000e+01 5.6000e+01 6.9300e+02 1.3900e+02 3.5200e+02 8.0200e+02
 2.4900e+02 5.4800e+02 1.0510e+03 5.0300e+02 2.6400e+03 8.7200e+02
 8.0100e+02 2.3150e+03 6.1100e+02 7.3400e+02 1.4040e+03 1.0580e+03
 4.8000e+02 6.9800e+02 1.6100e+03 6.1000e+01 2.0270e+03 9.9100e+02
 9.0200e+02 5.6000e+02 1.8700e+02 8.5700e+02 6.7100e+02 7.4100e+02
 4.6900e+02 9.2100e+02 8.0000e+01 1.4000e+01 1.7100e+02 1.8500e+02
 6.4700e+02 1.2570e+03 4.7000e+02 1.1270e+03 2.5590e+03 4.3500e+02
 7.0000e+01 3.8100e+02 9.5000e+01 7.9100e+02 6.2600e+02 3.8800e+02
 2.0000e+01 5.7000e+01 6.4800e+02 7.8000e+01 9.9400e+02 2.6700e+02
 1.4320e+03 6.5900e+02 6.7800e+02 3.0000e+01 4.4000e+01 3.1900e+02
 1.3000e+02 1.0790e+03 1.5590e+03 4.9300e+02 1.1680e+03 5.7800e+02
 4.5000e+02 5.4000e+01 5.2500e+02 1.1450e+03 1.3420e+03 3.4400e+02
 1.1000e+02 1.8900e+02 1.6820e+03 4.5100e+02 2.4000e+01 9.2200e+02
 9.6000e+01 1.3800e+02 5.5700e+02 7.4300e+02 2.8500e+02 2.6280e+03
 1.6460e+03 1.1310e+03 2.7100e+02 1.5580e+03 1.7950e+03 1.9940e+03
 3.8130e+03 1.8650e+03 1.1600e+02 3.4800e+02 3.6200e+02 1.3300e+02
 1.7000e+02 1.6610e+03 4.3330e+03 6.6000e+02 3.6600e+02 6.4000e+01
 1.5400e+02 9.8100e+02 1.7400e+02 1.1100e+02 7.7000e+01 4.4200e+02
 1.6170e+03 9.2000e+01 3.6480e+03 1.2820e+03 1.6980e+03 7.7900e+02
 4.4300e+02 2.0050e+03 1.5090e+03 3.1500e+02 5.6900e+02 3.7400e+02
 1.3200e+02 7.0900e+02 1.4410e+03 2.5160e+03 2.7000e+02 1.7520e+03
 1.1810e+03 9.4700e+02 1.6500e+03 1.7930e+03 1.3490e+03 6.3300e+02
 1.5500e+02 6.5600e+02 2.9900e+02 2.6460e+03 6.1800e+02 3.9400e+02
 5.9000e+01 9.7100e+02 1.4200e+02 6.9900e+02 1.5530e+03 6.6900e+02
 7.2600e+02 7.5000e+01 4.0700e+02 1.1000e+03 1.2710e+03 2.3800e+02
 5.9900e+02 2.3600e+02 3.4100e+02 1.1700e+02 1.5000e+02 5.0400e+02
 7.6200e+02 5.3200e+02 9.0000e+01 5.8400e+02 7.0500e+02 1.2640e+03
 8.3000e+02 2.6900e+02 8.9800e+02 4.1500e+02 1.8100e+02 5.8100e+02
 4.0000e+02 1.4420e+03 9.1000e+01 3.9500e+02 2.9080e+03 6.7400e+02
 1.7630e+03 6.8800e+02 2.7400e+02 8.0000e+02 1.7770e+03 1.1580e+03
 5.0800e+02 2.6870e+03 1.2150e+03 4.5900e+02 6.4000e+02 2.7600e+02
 8.2700e+02 3.3500e+02 7.8800e+02 3.5700e+02 2.4600e+02 9.8000e+02
 2.3200e+02 1.7690e+03 6.3200e+02 8.6900e+02 1.1200e+02 7.1700e+02
 2.5800e+02 1.5030e+03 4.5090e+03 2.8400e+02 1.3760e+03 2.4200e+02
 1.9000e+02 1.5640e+03 6.2700e+02 2.2700e+02 7.3500e+02 5.9700e+02
 1.8830e+03 2.1500e+02 6.2300e+02 1.1890e+03 1.4620e+03 5.5300e+02
 7.1100e+02 2.3160e+03 8.0500e+02 4.7700e+02 2.5500e+02 7.6400e+02
 1.1360e+03 4.2400e+02 9.7000e+02 9.2700e+02 2.2780e+03 1.3400e+02
 6.6200e+02 2.2300e+02 5.3100e+02 3.7800e+02 3.6000e+02 2.4330e+03
 1.8280e+03 1.5460e+03 1.2300e+02 1.6300e+02 4.8900e+02 1.1440e+03
 7.7700e+02 7.0300e+02 3.6270e+03 1.8600e+02 9.5900e+02 2.0740e+03
 3.2700e+02 7.4200e+02 3.5800e+02 4.1800e+02 3.5300e+02 5.2400e+02
 4.5500e+02 1.0800e+03 1.6700e+02 1.4350e+03 7.7400e+02 1.1320e+03
 1.1500e+02 6.6400e+02 6.0800e+02 8.8200e+02 4.7900e+03 1.0200e+03
 2.2200e+02 2.7160e+03 2.3500e+02 7.8500e+02 3.6400e+02 4.8600e+02
 2.1400e+03 8.3000e+01 5.6700e+02 7.1200e+02 7.5400e+02 4.8740e+03
 1.1290e+03 9.4500e+02 9.4900e+02 4.2850e+03 4.4100e+02 2.0600e+02
 6.1000e+02 4.2000e+01 1.5130e+03 1.4140e+03 4.7100e+02 7.7100e+02
 2.4140e+03 3.1100e+02 1.4550e+03 6.3800e+02 1.7420e+03 1.3390e+03
 8.9500e+02 1.2900e+02 8.8900e+02 8.7700e+02 3.2460e+03 3.7500e+02
 2.1840e+03 1.9900e+03 1.6900e+02 2.1700e+02 6.0300e+02 2.5540e+03
 8.5000e+01 2.0030e+03 4.6500e+02 3.9200e+02 1.4450e+03 1.6770e+03
 6.1500e+02 1.0300e+02 2.4540e+03 2.4100e+02 4.5810e+03 4.9400e+03
 2.0670e+03 3.8000e+02 1.1800e+02 1.3560e+03 1.9800e+02 4.7600e+02
 8.8800e+02 1.2100e+02 9.2900e+02 3.7830e+03 7.4600e+02 2.7200e+02
 1.5200e+02 4.3700e+02 1.8750e+03 6.5500e+02 9.4100e+02 7.1300e+02
 8.6800e+02 7.8000e+02 5.6350e+03 5.0100e+02 8.4700e+02 1.2970e+03
 1.9100e+02 2.7500e+03 2.1020e+03 3.0900e+02 1.0424e+04 6.9000e+01
 1.9190e+03 7.0600e+02 3.2100e+02 2.8320e+03 8.4600e+02 5.0500e+02
 6.0600e+02 1.2500e+02 4.3000e+02 7.8900e+02 1.5480e+03 2.2510e+03
 6.0500e+02 5.8600e+02 1.9050e+03 4.1300e+02 5.7100e+02 4.4900e+02
 5.6500e+02 8.5300e+02 1.4400e+02 1.0400e+03 1.3200e+03 5.2800e+02
 2.1530e+03 2.5740e+03 3.5000e+02 1.0470e+03 1.5300e+02 1.6600e+02
 1.8780e+03 2.1600e+02 6.6300e+02 2.1960e+03 1.0890e+03 5.5900e+02
 6.8050e+03 7.7800e+02 5.4500e+02 6.1700e+02 6.6700e+02 1.0060e+03
 2.9290e+03 2.4730e+03 5.4200e+02 3.0200e+02 1.5940e+03 2.1340e+03
 2.6400e+02 1.6090e+03 1.1100e+03 2.3320e+03 7.2500e+02 9.7300e+02
 3.1700e+02 5.9800e+02 7.2400e+02 8.5900e+02 1.0370e+03 2.0900e+02
 6.8100e+02 1.4900e+02 5.9500e+02 2.5400e+02 2.0770e+03 1.1420e+03
 8.9000e+02 1.9400e+02 8.4800e+02 7.3000e+01 8.9200e+02 7.9000e+02
 3.0000e+02 3.2400e+02 1.1990e+03 4.1400e+02 1.7610e+03 1.4300e+02
 8.9100e+02 8.0800e+02 7.6100e+02 3.6700e+02 2.6500e+02 9.0580e+03
 2.3870e+03 1.2240e+03 6.5300e+02 1.0390e+03 3.9490e+03 2.3660e+03
 2.9100e+02 1.0480e+03 1.3260e+03 1.4370e+03 7.0000e+02 5.3400e+02
 1.6570e+03 4.0300e+02 1.3130e+03 1.1670e+03 1.4500e+02 8.4100e+02
 6.3600e+02 7.5100e+02 1.5730e+03 1.5410e+03 1.3170e+03 6.9400e+02
 5.4680e+03 2.3100e+02 4.7800e+02 6.2200e+02 2.9150e+03 1.7200e+03
 1.6500e+02 8.5800e+02 5.2700e+02 7.6300e+02 1.5900e+03 7.1000e+02
 4.3300e+02 1.6800e+02 1.6860e+03 3.3600e+02 8.4900e+02 1.8640e+03
 2.0760e+03 1.1300e+02 1.1850e+03 2.9740e+03 9.7600e+02 1.8300e+02
 8.3500e+02 3.3900e+02 8.4500e+02 1.2700e+02 1.2253e+04 2.3410e+03
 5.2000e+02 1.7910e+03 1.5010e+03 3.0400e+02 1.1470e+03 1.1190e+03
 2.6140e+03 1.4000e+02 8.1300e+02 6.3500e+02 1.3730e+03 6.9600e+02
 2.3980e+03 1.8980e+03 2.3830e+03 1.0000e+03 2.0100e+03 7.8100e+03
 4.0580e+03 1.1790e+03 9.0900e+02 8.6000e+02 9.0100e+02 1.7200e+02
 1.6600e+03 1.1640e+03 1.0150e+03 1.5830e+03 1.0410e+03 1.7700e+02
 2.0900e+03 1.2320e+03 8.5100e+02 1.9670e+03 6.3100e+02 6.8200e+02
 1.6900e+03 1.7500e+02 1.2110e+03 2.3300e+03 1.6420e+03 8.4400e+02
 1.9110e+03 2.0800e+03 4.7610e+03 4.0000e+01 6.5100e+02 7.7300e+02
 7.6600e+02 8.7900e+02 1.7900e+02 8.7400e+02 1.0280e+03 2.7300e+02
 2.4010e+03 2.8850e+03 1.9070e+03 1.0500e+03 1.9600e+02 2.9700e+02
 4.5800e+02 1.5400e+03 3.9440e+03 5.3600e+02 4.3900e+02 5.7500e+02
 3.8600e+02 2.9560e+03 4.2500e+02 9.1000e+02 1.1210e+03 1.1040e+03
 6.4300e+02 7.0200e+02 1.4680e+03 4.1600e+02 5.7200e+02 1.8260e+03
 1.3090e+03 1.1400e+02 1.2880e+03 4.8100e+02 1.0250e+03 5.8000e+01
 7.2800e+02 4.1270e+03 3.0500e+02 2.6210e+03 3.7900e+02 1.9120e+03
 2.3900e+02 3.4600e+02 4.1900e+02 3.4900e+02 6.4400e+02 3.9580e+03
 8.1700e+02 4.4700e+02 1.0705e+04 6.0400e+02 6.2400e+02 6.8600e+02
 3.3100e+02 9.6000e+02 1.3500e+02 4.9200e+02 3.4200e+02 2.6200e+02
 2.7780e+03 5.9400e+02 1.6290e+03 2.5660e+03 5.7600e+02 4.6000e+02
 8.7600e+02 1.0080e+03 2.2670e+03 1.9290e+03 2.7700e+02 6.0200e+02
 1.7920e+03 3.2000e+02 4.0400e+02 7.3900e+02 5.4600e+02 1.6410e+03
 1.5360e+03 6.3000e+01 1.0830e+03 6.3310e+03 9.7700e+02 2.0360e+03
 2.9000e+02 3.9600e+02 7.9700e+02 6.2210e+03 1.9080e+03 1.3640e+03
 4.5600e+02 1.7290e+03 1.1690e+03 9.2800e+02 3.0800e+02 2.2000e+02
 2.3700e+03 1.0630e+03 1.6400e+02 1.4010e+03 7.8200e+02 2.8600e+02
 6.3700e+02 8.5500e+02 1.3630e+03 3.5400e+02 2.0000e+02 4.1200e+02
 7.1480e+03 6.2000e+02 1.2000e+02 1.5980e+03 1.2910e+03 4.4070e+03
 5.6300e+02 1.1050e+03 8.1600e+02 4.0900e+02 1.9700e+03 2.0400e+02
 1.3570e+03 3.3800e+02 1.0720e+03 1.0690e+03 7.5800e+02 1.3530e+03
 7.8400e+02 1.8400e+02 1.2960e+03 7.9200e+02 6.8400e+02 8.0700e+02
 4.8300e+02 1.3380e+03 9.1800e+02 2.0500e+02 5.1000e+02 1.8720e+03]
Spa
[   0.  549. 6715. ...  698. 1107. 1643.]
VRDeck
[   0.   44.   49. ... 1317. 1164. 3235.]
Name
['Maham Ofracculy' 'Juanna Vines' 'Altark Susent' ... 'Fayey Connon'
 'Celeon Hontichre' 'Propsh Hontichre']
Transported
[False  True]

In [11]:
def encode_process_auto(data : pd.DataFrame):
    for i in data.columns:
        if data[i].dtype == "object" and len(data[i].unique()) < 50:
            print(i , " = ", data[i].unique(), len(data[i].unique()))
            list_label = data[i].unique()
            mapping = {}
            indeks = 0
            for label in list_label:
                mapping[label] = indeks
                indeks = indeks + 1

            data[i] = data[i].map(mapping)

if __name__ == "__main__":
    encode_process_auto(data_train)

HomePlanet  =  ['Europa' 'Earth' 'Mars'] 3
CryoSleep  =  [False True] 2
Destination  =  ['TRAPPIST-1e' 'PSO J318.5-22' '55 Cancri e'] 3
VIP  =  [False True] 2

### 1.3 split cabin data

In [12]:
data_train[["cabin_1","cabin_2","cabin3"]] = data_train["Cabin"].str.split("/", expand=True)

### 1.4 Encode cabin 1 and 3

In [13]:
encode_process_auto(data_train)

cabin_1  =  ['B' 'F' 'A' 'G' 'E' 'C' 'D' 'T'] 8
cabin3  =  ['P' 'S'] 2

### 1.5 convert datatype

In [14]:
data_train["cabin_2"] = data_train["cabin_2"].astype(int)

### 1.6 drop unnecessary column

In [15]:
data_train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,cabin_1,cabin_2,cabin3
0,0001_01,0,0,B/0/P,0,39.0,0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0,0,0
1,0002_01,1,0,F/0/S,0,24.0,0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,1,0,1
2,0003_01,0,0,A/0/S,0,58.0,1,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,2,0,1
3,0003_02,0,0,A/0/S,0,33.0,0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,2,0,1
4,0004_01,1,0,F/1/S,0,16.0,0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,1,1,1

In [16]:
data_train.drop(columns=["PassengerId", "Name", "Cabin"], inplace=True)

In [17]:
data_train.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,cabin_1,cabin_2,cabin3
0,0,0,0,39.0,0,0.0,0.0,0.0,0.0,0.0,False,0,0,0
1,1,0,0,24.0,0,109.0,9.0,25.0,549.0,44.0,True,1,0,1
2,0,0,0,58.0,1,43.0,3576.0,0.0,6715.0,49.0,False,2,0,1
3,0,0,0,33.0,0,0.0,1283.0,371.0,3329.0,193.0,False,2,0,1
4,1,0,0,16.0,0,303.0,70.0,151.0,565.0,2.0,True,1,1,1

### 1.7 Cleaning Test Data

In [18]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

In [19]:
data_test[["cabin_1","cabin_2","cabin3"]] = data_test["Cabin"].str.split("/", expand=True)
encode_process_auto(data_test)
data_test["cabin_2"] = data_test["cabin_2"].astype('Int64')
data_test.drop(columns=["Name", "Cabin"], inplace=True)

HomePlanet  =  ['Earth' 'Europa' 'Mars' nan] 4
CryoSleep  =  [True False nan] 3
Destination  =  ['TRAPPIST-1e' '55 Cancri e' 'PSO J318.5-22' nan] 4
VIP  =  [False nan True] 3
cabin_1  =  ['G' 'F' 'C' 'B' 'D' 'E' nan 'A' 'T'] 9
cabin3  =  ['S' 'P' nan] 3

In [20]:
data_test.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,cabin_1,cabin_2,cabin3
0,0013_01,0,0,0,27.0,0,0.0,0.0,0.0,0.0,0.0,0,3,0
1,0018_01,0,1,0,19.0,0,0.0,9.0,0.0,2823.0,0.0,1,4,0
2,0019_01,1,0,1,31.0,0,0.0,0.0,0.0,0.0,0.0,2,0,0
3,0021_01,1,1,0,38.0,0,0.0,6652.0,0.0,181.0,585.0,2,1,0
4,0023_01,0,1,0,20.0,0,10.0,0.0,635.0,0.0,0.0,1,5,0

### 1.8 Save Test and Train data to parquet file

In [24]:
data_train.to_parquet("data/data_train_clean.parquet")

In [25]:
data_test.to_parquet("data/data_test_clean.parquet")